.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }

  .user-login-page {
    display: grid;
  }
  
  .queue-button, .staff-button, .appointment-button{
    height: 200px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
    background-color: aqua;
    margin-top: 25px;
    transition-duration: 0.4s;
  }
  
  .queue-button:hover,.appointment-button:hover,.staff-button:hover {
    background-color: rgb(10, 30, 181);
    color: white;
  }
 