.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Overriding Bootstrap's .navbar-dark.bg-dark class for the header */
.navbar-dark.bg-dark {
  background-color: #f8f9fa !important; /* A light gray background, same as the footer */
  color: #4b2e1a !important; /* A brownish color for text contrast */
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #4b2e1a !important; /* Adjusting the navbar text and links to match the brownish color */
}

.App-link {
  color: #61dafb;
}

.footer {
  padding: 20px 0;
  background-color: #f8f9fa;  /* Light Gray */
  border-top: 1px solid #dee2e6;  /* Slightly Darker Gray */
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #333333;  /* Dark Gray */
  margin-right: 15px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.user-login-page {
  display: grid;
}

.queue-button, .staff-button, .appointment-button, .payment-button {
  height: 150px;
  width: 1500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  background-color: aqua;
  margin-top: 25px;
  margin: 0 auto;
  display: block;
  transition-duration: 0.4s;
}

.submit-button{
  height: 150px;
  width: 1500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  background-color: aqua;
  margin-top: 10px;
  display: block;
  transition-duration: 0.4s;
}

.questionnaire-button{
  height: 100px;
  width: 500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  background-color: aqua;
  margin-top: 25px;
  margin-right: 10px;
  /* display: block; */
  transition-duration: 0.4s;
}

.back-button{
  height: 150px;
  width: 1500px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  background-color: aqua;
  margin-top: 0px;
  display: block;
  transition-duration: 0.4s;
}

.submit-button:hover,.questionnaire-button:hover,
.queue-button:hover,.appointment-button:hover,.staff-button:hover,
.payment-button:hover, .back-button:hover {
  background-color: rgb(10, 30, 181);
  color: white;
}

.qr-code {
  margin-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center vertically on the screen */
  display: flex;
  flex-direction: column;
  margin-left: 650px;
  margin-bottom: 25px;

}

.header-container {
  display: flex; /* Make children side by side */
  align-items: center; /* Vertically center children */
  justify-content: space-between; /* Create space between children */
  padding: 10px; /* Add some padding */
  background-color: #333; /* Background color */
  color: white; /* Text color */
}

.header-container h1 {
  margin: 0; /* Remove default margin from h1 */
  font-size: 50px; /* Adjust the font size */
}